html, body {
  background-color: rgb(42, 58, 65);
  overflow: hidden;
}

video.intro-video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.valign-middle.row {
  display: table;
  width: inherit;
  height: 100%;
}

.valign-middle .valign-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
